body {
  font-family: "Roboto", sans-serif;
}

.triangle {
  position: relative;
  background-color: rgb(105, 30, 197);
  text-align: left;
  rotate: -30deg;
}
.triangle:before,
.triangle:after {
  content: "";
  position: absolute;
  background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
  width: 275px;
  height: 275px;

  border-top-right-radius: 30%;
}

.triangle {
  transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}
.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
    translate(0, -50%);
}
.triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}
.fullscreen-overlay {
  display: none;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.736);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(12px);
  transition: opacity 0.3s ease;
}
.fullscreen-overlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 1rem;

  box-shadow: 0 0 50px rgb(254, 254, 254, 0.5);
  transition: transform 0.3s ease;
}
.fullscreen-overlay.show {
  display: flex;
}
/* pricing slide  */
